extends layout

block content
	div(id="container", style="width: 880px; margin: 0 auto; padding: 10px;")
		.demo-container(style="box-sizing: border-box; width: 850px; height: 450px;")
			div.demo-placeholder(id="placeholder", style="width: 100%; height: 100%; font-size: 14px; line-height: 1.2em;")

		p.message

	script(src="js/libraries.js")
	script(src="http://www.flotcharts.org/flot/jquery.flot.resize.js")
	script(src="http://www.flotcharts.org/flot/examples/shared/jquery-ui/jquery-ui.min.js")
	script(src="js/vendor.js")
	script(src="js/graphs.js")
