extends layout

block content
    section.content#google-map

    header
        include slider.html
        section.container
            nav
                label(for="nav--configure")
                    span.notmobile Filter map
                    span.mobile &#9881;
                span.nav--wrapper
                    input#nav--configure
                    div.nav--list-wrapper
                        ul
                            li(id="show-all")
                                label(for="nav--configure") Show all
                            li(id="water-meter")
                                label(for="nav--configure") Water meter

            div.search
                input(type="search" placeholder="Search: ")
                button.go
                    span.notmobile Go
                    span.mobile &#128269;
            nav
                label(for="nav--favourites")
                    span.notmobile My Favourites
                    span.mobile &#9733;
                span.nav--wrapper
                    input#nav--favourites
                    div.nav--list-wrapper
                        ul
                            li You must sign in in order to view your favourites!
            nav.row.container
                label(for="nav--menu")
                    span.mobile &#8942;
                span.nav--wrapper
                    input#nav--menu
                    div.nav--list-wrapper
                        div.nav--list-inner-wrapper
                            ul.left
                                li Home
                                li Contact
                                li About
                                li FAQ
                            ul.right
                                li Login
                                li Create Account
                                li Why register
    footer
        nav.row.container
            ul
                li Disclaimer, Privacy &amp; Cookie Information
        nav.row.container
            | Cookie info

    script(src="js/libraries.js")
    script(src="js/boot.js")
