extends layout

block content
    section.content#google-map

    header
        include slider.html
        section.container
            nav
                select.data-filter(multiple="multiple")
                    option(data-filter="CombinedChamber") Combined Chamber
                    option(data-filter="FoulSubcatchment") Foul Subcatchment
                    option(data-filter="Subcatchment") Subcatchment
                    option(data-filter="CombinedSubcatchment") Combined Subcatchment
                    option(data-filter="FoulChamber") Foul Chamber
                    option(data-filter="OverlandSubcatchment") Overland Subcatchment
                    option(data-filter="LevelSensor") Level Sensor
                    option(data-filter="Sensor") Sensor
                    option(data-filter="Percentage_LevelSensor") Percentage Level Sensor
                    option(data-filter="screen_LevelSensor") Screen Level Sensor
                    option(data-filter="SpillSensor") Spill Sensor
                    option(data-filter="StormSubcatchment") Storm Subcatchment
                    option(data-filter="totalSensor") Total Sensor
                    option(data-filter="FlowSensor") Flow Sensor
                    option(data-filter="StormOverflowChamber") Storm Overflow Chamber
                    option(data-filter="Hydrant") Hydrant
                    option(data-filter="Fitting") Fitting
                    option(data-filter="WaterMeter") Water Meter
                    option(data-filter="SystemValve") System Valve
                    option(data-filter="ControlValve") Control Valve
                button#filter Filter

            div.search
                input(type="search" placeholder="Search: ")
                button.go
                    span.notmobile Go
                    span.mobile &#128269;
            nav
                label(for="nav--favourites")
                    span.notmobile My Favourites
                    span.mobile &#9733;
                span.nav--wrapper
                    input#nav--favourites
                    div.nav--list-wrapper
                        ul
                            li You must sign in in order to view your favourites!
            nav.row.container
                label(for="nav--menu")
                    span.mobile &#8942;
                span.nav--wrapper
                    input#nav--menu
                    div.nav--list-wrapper
                        div.nav--list-inner-wrapper
                            ul.left
                                li Home
                                li Contact
                                li About
                                li FAQ
                            ul.right
                                li Login
                                li Create Account
                                li Why register
    footer
        nav.row.container
            ul
                li Disclaimer, Privacy &amp; Cookie Information
        nav.row.container
            | Cookie info

    script(src="js/libraries.js")
    script(src="js/boot.js")
