extends layout

block content
    header
        include slider.html
        nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
            .container-fluid
                .navbar-header
                    a.navbar-brand Sustainable Building Project

                form.navbar-form.navbar-left(role="search")
                    .form-group
                        select.data-filter.form-control(id="selectpicker", multiple="multiple")
                            optgroup(label="Subcatchments")
                                option(data-filter="FoulSubcatchment") Foul Subcatchment
                                option(data-filter="Subcatchment") Subcatchment
                                option(data-filter="CombinedSubcatchment") Combined Subcatchment
                                option(data-filter="FoulChamber") Foul Chamber
                                option(data-filter="OverlandSubcatchment") Overland Subcatchment
                                option(data-filter="StormSubcatchment") Storm Subcatchment
                            optgroup(label="Sensors")
                                option(data-filter="LevelSensor") Level Sensor
                                option(data-filter="Sensor") Sensor
                                option(data-filter="Percentage_LevelSensor") Percentage Level Sensor
                                option(data-filter="screen_LevelSensor") Screen Level Sensor
                                option(data-filter="SpillSensor") Spill Sensor
                                option(data-filter="totalSensor") Total Sensor
                                option(data-filter="FlowSensor") Flow Sensor
                            optgroup(label="Chambers")
                                option(data-filter="CombinedChamber") Combined Chamber
                                option(data-filter="StormOverflowChamber") Storm Overflow Chamber
                            optgroup(label="Valves")
                                option(data-filter="SystemValve") System Valve
                                option(data-filter="ControlValve") Control Valve
                            optgroup(label="Others")
                                option(data-filter="Hydrant") Hydrant
                                option(data-filter="Fitting") Fitting
                                option(data-filter="WaterMeter") Water Meter
                    div.btn-group
                        button.btn.btn-info#filter(type="button")
                            span.glyphicon.glyphicon-refresh
                            | &nbsp; Refresh
                        button.btn.btn-warning#clear(type="button")
                            span.glyphicon.glyphicon-remove
                            | &nbsp; Clear

    section.content.content-map#google-map

    footer
        nav.row.container
            ul
                li Disclaimer, Privacy &amp; Cookie Information

    script(src="js/libraries.js")
    script(src="js/boot.js")
